doctype html
html(lange="en")
    head
        title= "Alistair McIntyre"
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        include templates/header.pug
        #resume
          include templates/resume.pug
        include templates/footer.pug

style
  include css/site/animations.scss
style
  include css/site/style.scss
style
  include css/site/resume.scss