doctype html
html(lange="en")
    head
        title= "Alistair McIntyre"
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        include site_header.pug
        include resume.pug

style
  include css/animations.scss
style
  include css/site.scss