@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Roboto';


*{
  box-sizing: border-box;
}

#testing {
  height: 1000px;
  background-color: lightblue;
}


#header {
  background: url('https://alistair.nz/css/images/bg.jpg') bottom center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

#intro::before {
  content: '';
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  width: 1px;
}

#intro {
  vertical-align: middle;
  text-align: center;
  width: 80%;
}

#intro nav {
  margin: 1.5em 0 0 0;
  display: block;
  padding: 0;
  border: 0;
}

#intro nav ul {
  list-style: none;
}

#intro nav ul li {
  display: inline-block;
}

#intro nav a::before {
  border-radius: 100%;
  border: solid 1px #fff;
  display: block;
  font-size: 12px;
  height: 50px;
  width: 50px;
  position: relative;
  text-align: center;
  top: 0;
}

#intro nav a span {
  display: none;
}









#overlay {
  -moz-animation: overlay 1.5s 1.5s forwards;
  -webkit-animation: overlay 1.5s 1.5s forwards;
  -ms-animation: overlay 1.5s 1.5s forwards;
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed, 100vh;
  background-image: url("https://alistair.nz/css/images/overlay-pattern.png"), url("https://alistair.nz/css/images/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-moz-keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@-ms-keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}