@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900';

/**
  Base Configuration for shared and default elements
**/
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  outline: 0;
}

body, input, select, textarea {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: -0.025em;
  line-height: 1.75em;
  // overflow: hidden;
}

body.loading * {
  animation: none !important;
}

/**
  Configure for the background and overlay
**/
#header {
  background: url('img/background.jpg') bottom center;
  height: 100vh;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header::before {
  content: '  ';
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  width: 1px;
}

#overlay {
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed;
  background-image: url("img/overlay-pattern.png"), url("img/overlay.svg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


/**
  Configure the intro section (Name, Blurb, Nav)
**/
#intro {
  vertical-align: middle;
  width: 90%;
  display: inline-block;
}

  #intro h1 {
    font-size: 3.5em;
    font-weight: 900;
    letter-spacing: -0.035em;
    line-height: 0.8em;
    margin: 0.1em 0;
  }

  #intro p {
    font-size: 1em;
    letter-spacing: -0.035em;
    line-height: 0.8em;
  }

  #intro nav {
    font-size: 1em;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
  }

    #intro nav span {
      display: none;
    }

    #intro nav ul {
      list-style: none;
    }

    #intro nav li {
      display: inline-block;
      margin: -0.35em;
      animation: nav-icons 0.5s ease-in-out forwards;
      backface-visibility: hidden;
      transform: translate3d(0,0,0);
      height: 5.35em;
      line-height: 5.885em;
      opacity: 0;
      position: relative;
      top: 0;
      width: 5.35em;
    }

    #intro nav li:nth-child(1) {
      -moz-animation-delay: 2.5s;
      -webkit-animation-delay: 2.5s;
      -ms-animation-delay: 2.5s;
      animation-delay: 2.5s;
    }

    #intro nav li:nth-child(2) {
      -moz-animation-delay: 2.75s;
      -webkit-animation-delay: 2.75s;
      -ms-animation-delay: 2.75s;
      animation-delay: 2.75s;
    }

    #intro nav li:nth-child(3) {
      -moz-animation-delay: 3s;
      -webkit-animation-delay: 3s;
      -ms-animation-delay: 3s;
      animation-delay: 3s;
    }

    #intro nav li:nth-child(4) {
      -moz-animation-delay: 3.25s;
      -webkit-animation-delay: 3.25s;
      -ms-animation-delay: 3.25s;
      animation-delay: 3.25s;
    }

    #intro nav li:nth-child(5) {
      -moz-animation-delay: 3.5s;
      -webkit-animation-delay: 3.5s;
      -ms-animation-delay: 3.5s;
      animation-delay: 3.5s;
    }


.icon {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
}

.icon::before {
  border-radius: 100%;
  border: solid 1px #fff;
  display: inline-block;
  font-size: 1.75em;
  line-height: 2.2em;
  height: 2.2em;
  width: 2.2em;
  position: relative;
  text-align: center;
  top: 0;
}

  .icon:hover {
    font-size: 1.1em;
  }

    .icon:hover:before {
      background-color: rgba(255, 255, 255, 0.175);
      color: #fff;
    }

  .icon:active {
    font-size: 0.95em;
    background: none;
  }

    .icon:active:before {
      background-color: rgba(255, 255, 255, 0.35);
      color: #fff;
    }


#footer {
  height: 150px;
  background-color: #3d3d3d;
  margin: 0;
  margin-top: 150px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#footer p {
  font-size: 0.9em;
  margin: 0;
}

#footer a {
  pointer-events: inherit;
  z-index: 999;
}