#footer
  p A downloadable copy of my resume can be found <!-- -->
    a(href="https://alistair.nz/resume.pdf") here.
  p Photo by <!-- Another nasty hack to include a space without angering my linter. Also if you're looking at my source code: Hi! -->
    a(href="https://www.flickr.com/photos/29106084@N06/6060539256") Jessie Hodge
    span= " used under "
    a(href="https://creativecommons.org/licenses/by-nc-nd/2.0/?ref=ccsearch&atype=rich") CC BY-NC-ND 2.0