include ../mixins/site.pug

#overlay
#header
  #intro
    h1 Alistair McIntyre
    p Hi! I'm a Full Stack Engineer based in Christchurch, NZ. I'm a fan of Open Source, Spatial Data, and New Technologies.
    nav
      ul
        +nav_link('fa-twitter', 'Twitter', 'https://twitter.com/_alistairnz')
        +nav_link('fa-linkedin', 'LinkedIn', 'https://www.linkedin.com/in/alistair-mcintyre-263422158/')
        +nav_link('fa-github', 'GitHub', 'https://github.com/alistairjmcintyre')
        +nav_link('fa-envelope-o', 'Email', 'mailto:alistairjmcintyre@gmail.com')
