
    <html>
      <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css"></link>
      </head>
      <body> <div id="main"><div id="title"><h1>ALISTAIR MCINTYRE</h1><div class="subtitle">FULL STACK ENGINEER</div></div><div class="main-block"><h2 class="me"><i class="fa fa-user"></i> ABOUT ME</h2><div class="about-me">I am a 30 year old resident of Christchurch, passionate about solving real world problems.
</div></div><div class="main-block"><h2><i class="fa fa-graduation-cap"></i> EDUCATION</h2><div class="blocks"><div class="date"><span>NOV '12</span><span>NOV '17</span></div><div class="decorator"></div><div class="details"><header><h3>BSc. Computer Science</h3><span class="place">University of Canterbury</span></header><div class="description"></div></div></div><div class="blocks"><div class="date"><span>FEB '09</span><span>DEC '09</span></div><div class="decorator"></div><div class="details"><header><h3>Diploma in Web Development</h3><span class="place">Natcoll Design Technology</span></header><div class="description"></div></div></div></div><div class="main-block"><h2><i class="fa fa-suitcase"></i> EXPERIENCE</h2><div class="blocks"><div class="date"><span>APR '19</span><span>NOW</span></div><div class="decorator"></div><div class="details"><header><h3>GIS Platform Engineer</h3><span class="place">Catalyst IT Ltd</span></header><div class="description"><ul>
<li>Responsible for creation, deployment and management of a GIS platform built out of existing Open Source components.</li>
<li>Championed a modern approach, utilising Containerisation, Kubernetes and Continuous Delivery tooling to
automate deployment and system management processes.</li>
</ul>
</div></div></div><div class="blocks"><div class="date"><span>JUL '18</span><span>JUL '19</span></div><div class="decorator"></div><div class="details"><header><h3>Junior Systems Administrator</h3><span class="place">Catalyst IT Ltd</span></header><div class="description"><ul>
<li>Responsible for monitoring, improvement and maintenance of multiple systems across the South Island Catalyst team.</li>
<li>Gained significant proficiency with cloud computing concepts, configuration management, security, networking
and managing systems at an enterprise scale.</li>
<li>Responsible for migration and deployment of a microservice architecture application from Ansible
to Puppet to bring it in line with company best practices. This work was later successfully re-used
on future projects by other Systems Administrators.</li>
</ul>
</div></div></div><div class="blocks"><div class="date"><span>JAN '18</span><span>JUL '18</span></div><div class="decorator"></div><div class="details"><header><h3>Junior Software Developer</h3><span class="place">Croplogic</span></header><div class="description"><ul>
<li>Part of a small team at an exciting Agritech company.</li>
<li>Built 2 cross-platform mobile applications using Flutter, Google's new cross-platform mobile framework.</li>
<li>Adapted to new technologies I had never used before very quickly.</li>
</ul>
</div></div></div></div><div class="refs">References will be supplied upon Request.</div></div> </body>
    </html>