include ../mixins/resume.pug

#main
  #title
    h1 ALISTAIR MCINTYRE
    .subtitle FULL STACK SOFTWARE DEVELOPER

  .main-block
    h2.me #[i.fa.fa-user] ABOUT ME
    .about-me
      | I am a 33 year old resident of Christchurch, passionate about technology, mentoring and solving real world problems.<br/><br/>
      |
      | I have the unique experience of having spent my professional career working in both development and operations, giving me a 
      | holistic view of complex systems, capable of implementation and troubleshooting at every level. <br /><br />
      |
      | In my spare time, I like to play disc golf, video games and board games with friends.
      | 

    .main-block
    h2 #[i.fa.fa-suitcase] EXPERIENCE

    +item ("Technical Lead/Solutions Architect", "Catalyst IT Ltd", "JAN '22", "NOW")
      :markdown-it
        - Developed my business analysis skills significantly, working much closer with clients to gather their requirements and synthesize them 
          into a solution that met their needs.
        - Developed the Forward Works Viewer, a tool for improving collaboration between entities in the construction sector, to reduce waste and 
          improve outcomes.
        - Developed Whangarei District Council's ePlan, giving their ratepayers a much-needed tool for figuring out how a complicated document 
          like a district plan would actually relate to them.
        - Developed the Underground Asset Register, so that Wellington City Council can have a holistic view of what's going on underground, 
          and to aid the organisations that implement the data to have more accurate information, and to collaborate and share information amongst one another.
      ul.tech 
        li Python
        li Django 
        li Wagtail
        li Gitlab CI/CD 
        li Systems Architecture 

    +item ("GIS Platform Engineer", "Catalyst IT Ltd", "APR '19", "FEB '23")
      :markdown-it
        - Responsible for creation, deployment and management of a fully open-source GIS platform.
        - Championed modern approaches to development, implementing Infrastructure-as-Code solutions and Containerisation in an organisation with little experience 
          in this area.
        - Mentored and managed junior team members, being responsible for implementing process to accelerate their work.
      ul.tech
        li Terraform
        li Kubernetes
        li Docker
        li Cloud
        li Gitlab CI/CD
        li Python
        li Helm

    +item("Junior Systems Administrator", "Catalyst IT Ltd", "JUL '18", "JUL '19")
      :markdown-it
        - Responsible for monitoring, improvement and maintenance of multiple systems across the South Island Catalyst team.
        - Gained proficiency with cloud computing concepts, configuration management, security, networking and an understanding of systems management.
      ul.tech
        li Puppet
        li Ansible
        li Networking
        li Database Administration
        li Monitoring

  .main-block
    h2 #[i.fa.fa-graduation-cap] EDUCATION

    +item("BSc. Computer Science", "University of Canterbury", "NOV '12", "NOV '17")
    +item("Diploma in Web Development", "Natcoll Design Technology",  "FEB '09", "DEC '09")



  .refs References will be supplied upon Request.




#sidebar
  #contact.side-block
    h1 Contact
    ul
      li #[i.fa.fa-envelope] alistairjmcintyre@alistair.nz
      li
        .phone #[i.fa.fa-phone] 027 633 0043

  #skills.side-block
    h1 Skills
    ul
      li Database Administration
      li GIS
      ul.libs
        li Working with Spatial Data
        li Mapping
        li Spatial data Analysis
      li CI/CD
      li Cloud-Native Design
      li Systems Administration
      li Systems Architecture

    h1 Technologies
    ul
      li Languages
      ul.libs
        li Python
        li Java
        li JavaScript + TypeScript
        li Dart
        li C#
      li Kubernetes
      li Docker
      li Configuration Management
      ul.libs
        li Puppet
        li Ansible
        li Helm & Helmfile
        li Terraform 


