include ../mixins/resume.pug

#main
  #title
    h1 ALISTAIR MCINTYRE
    .subtitle FULL STACK ENGINEER

  .main-block
    h2.me #[i.fa.fa-user] ABOUT ME
    .about-me
      | I am a 30 year old resident of Christchurch, passionate about technology, mentoring and solving real world problems.<br/><br/>
      |
      | I have the unique experience of having spent time in both development and operations, giving me a holistic view of complex
      | systems, capable of implementation and troubleshooting at every level.

  .main-block
    h2 #[i.fa.fa-graduation-cap] EDUCATION

    +item("BSc. Computer Science", "University of Canterbury", "NOV '12", "NOV '17")
    +item("Diploma in Web Development", "Natcoll Design Technology",  "FEB '09", "DEC '09")

  .main-block
    h2 #[i.fa.fa-suitcase] EXPERIENCE

    +item ("GIS Platform Engineer", "Catalyst IT Ltd", "APR '19", "NOW")
      :markdown-it
        - Responsible for creation, deployment and management of a GIS platform built out of existing Open Source components.
        - Championed a modern approach, utilising Containerisation, Kubernetes and Continuous Integration and Delivery to
          automate deployment and system management processes.
        - Developed a product within a company that typically sells it's resources in a services capacity. This required a slightly
          different approach to development and requirements.
        - Mentored other team members and endeavoured to create an inclusive team culture, working primarily to the 5 ideals from The Unicorn Project (by Gene Kim)
      ul.tech
        li Terraform
        li Kubernetes
        li Docker
        li Cloud
        li Gitlab CI/CD
        li Python
        li Helm

    +item("Junior Systems Administrator", "Catalyst IT Ltd", "JUL '18", "JUL '19")
      :markdown-it
        - Responsible for monitoring, improvement and maintenance of multiple systems across the South Island Catalyst team.
        - Gained proficiency with cloud computing concepts, configuration management, security, networking and an understanding of how to manage systems.
        - Responsible for migration and deployment of a microservice architecture application from Ansible to Puppet to bring it in line with company
          best practices. This work was later successfully re-used on future projects by other team members.
      ul.tech
        li Puppet
        li Ansible
        li Networking
        li Database Administration
        li Monitoring

    +item("Junior Software Developer", "Croplogic", "JAN '18", "JUL '18")
      :markdown-it
        - Part of a small development team at an exciting Agritech company.
        - Built 2 cross-platform mobile applications, one customer-facing to track the data from their farms, and another to enable agronomists to easily retrieve and update data in the field.
      ul.tech
        li Dart
        li Flutter
        li Firebase
        li Objective-C
        li Python


  .refs References will be supplied upon Request.




#sidebar
  #contact.side-block
    h1 Contact
    ul
      li #[i.fa.fa-envelope] alistairjmcintyre@gmail.com
      li
        .phone #[i.fa.fa-phone] 027 633 0043

  #skills.side-block
    h1 Skills
    ul
      li Database Administration
      li GIS
      ul.libs
        li Working with Spatial Data
        li Mapping
      li CI/CD
      li Cloud-Native Design
      li Systems Administration

    h1 Technologies
    ul
      li Languages
      ul.libs
        li Dart
        li Python
        li Java
        li Javascript
        li C#
      li Terraform
      li Kubernetes
      li Docker
      li Configuration Management
      ul.libs
        li Puppet
        li Ansible
        li Helm & Helmfile

